.li {
    base-color: transparency;
    -fx-background-color: base-color;
    -fx-border-color: none;

}

.li.toggle-button:selected {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-border-color: #e29051;
    -fx-text-fill: #e29051;

}

.li:hover {
    -fx-background-color: rgba(173, 173, 173, 0.24);
    -fx-text-fill: #e29051;

}
